body {
    text-align: justify;
}

p {
    margin: 0px 10px 10px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.1em;
}

span.header-section-number {
    color: #004E4E;
    font-weight: bold;
}

/* Configura o estilo do título */

#header {
    /* background-color: #F6F6F6; */
    border-top: 1.5px solid #003A3A;
    border-right: 0px solid black;
    border-bottom: 1.5px solid #003A3A;
    border-left: 0px solid black;
    padding-top: 10px;
    margin: 10px;
}

h1.title {
    font-size: 40px;
    text-align: center;
    color: #004E4E;
}

h4.author {
    font-size: 20px;
    text-align: center
}

h4.date {
    font-size: 18px;
    font-style: normal;
    text-align: center;
}


/* Configura a tabela de conteúdo */

/* Sob argumento yaml toc_float */
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #149494;
    border-color: #149494;
}

.tocify-subheader .tocify-item {
    font-size: 0.95em;
    padding-left: 10px;
    text-align: left;
}

/* sem argumento yaml toc_float */
#TOC {
    clear: both;
    margin: 20px 0px 0px 30px;
    padding: 2px;
    width: 50%;
    border: 0px solid #CCC;
    border-radius: 5px;
    background-color: #CCC;
    line-height: 1.5;
}

a {
    color: #149494;
    text-decoration: none;
}

a:hover, a:focus {
    color: #004E4E;
    text-decoration: underline;
}

/* Customização de blocos de códigos R */

pre, code {
    background-color: #EDEDED;
    color: #333;
    font-size: 95%;
}

pre {
    font-size: 90%;
    word-break: keep-all;
    margin: 1ex 0px 1ex 0px;
    padding: 2px 1ex 2px 1ex;
    border: 0px solid #CCC;
    border-radius: 0px;
    padding: 9.5px;
}

tt, code, pre {
    font-family: "Inconsolata", "Andale Mono", monospace;
}

pre:not([class]) {
    background-color: #D4D4D4;
    font-size: 14px;
}

/*
  -----------------------------------------------------------------------------
  Tabelas
  -----------------------------------------------------------------------------
  */

/* Center the table and add top/bottom margins */
table {
    /* page-break-before: always; */
    /* display: table; */
    /* float: left; */
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 0px;
    border-right: 0px;
    /* border-collapse: separate; */
    border-collapse: collapse;
}

table.none {
    border-top: 0px solid #000000;
    border-bottom: 0px solid #000000;
}

table.wide {
    width: 95%;
}

th, td, tr {
    color: #000000;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 0px;
}

th {
    border-bottom: 1px solid #000000;
}

th.none {
    border-bottom: 0px solid #000000;
}

/*
  -----------------------------------------------------------------------------
  Padrões para fazer destaque de cédulas ou valores
  -----------------------------------------------------------------------------
  */

/* Texto na cor vermelha. */
td.red {
    /* color: #FF0000; */
    color: #CC0000;
}

/* Texto na cor azul. */
td.blue {
    /* color: #0000FF; */
    color: #0000CC;
}

/* Cédula com cor ciza de fundo. */
td.shade {
    background-color: #CCCCCC;
}

/* Linha embaixo. */
td.line {
    border-bottom: 1px solid #000000;
}

/* Negrito. */
td.bold {
    font-weight: bold;
}

/* Itálico. */
td.italic {
    font-style: italic;
}
